<ion-header>
  <ion-toolbar>
    <ion-title>
      Alphabets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>A</ion-card-title>
            <ion-card-subtitle>Apple</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="apple" src="../../../assets/icon/apple.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>B</ion-card-title>
            <ion-card-subtitle>Ball</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="ball" src="../../../assets/icon/ball.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>C</ion-card-title>
            <ion-card-subtitle>Cat</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="cat" src="../../../assets/icon/cat.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>D</ion-card-title>
            <ion-card-subtitle>Doll</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="doll" src="../../../assets/icon/doll.png" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>E</ion-card-title>
            <ion-card-subtitle>Egg</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="egg" src="../../../assets/icon/egg.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>F</ion-card-title>
            <ion-card-subtitle>Flower</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="flower" src="../../../assets/icon/flower.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>G</ion-card-title>
            <ion-card-subtitle>Girl</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="girl" src="../../../assets/icon/girl.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>H</ion-card-title>
            <ion-card-subtitle>Horse</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="horse" src="../../../assets/icon/horse.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>I</ion-card-title>
            <ion-card-subtitle>Ink</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="ink" src="../../../assets/icon/ink.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>J</ion-card-title>
            <ion-card-subtitle>Jeep</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="jeep" src="../../../assets/icon/jeep.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>K</ion-card-title>
            <ion-card-subtitle>Kite</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="kite" src="../../../assets/icon/kite.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>L</ion-card-title>
            <ion-card-subtitle>Lion</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="lion" src="../../../assets/icon/lion.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>M</ion-card-title>
            <ion-card-subtitle>Moon</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="moon" src="../../../assets/icon/moon.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>N</ion-card-title>
            <ion-card-subtitle>Noodles</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="noodles" src="../../../assets/icon/noodles.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>O</ion-card-title>
            <ion-card-subtitle>Orange</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="orange" src="../../../assets/icon/orange.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>P</ion-card-title>
            <ion-card-subtitle>Penguin</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="penguin" src="../../../assets/icon/penguin.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Q</ion-card-title>
            <ion-card-subtitle>Queen</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="queen" src="../../../assets/icon/queen.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>R</ion-card-title>
            <ion-card-subtitle>Rabbit</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="rabbit" src="../../../assets/icon/rabbit.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>S</ion-card-title>
            <ion-card-subtitle>Strwaberry</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="strawberry" src="../../../assets/icon/strawberry.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>T</ion-card-title>
            <ion-card-subtitle>Tiger</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="tiger" src="../../../assets/icon/tiger.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>U</ion-card-title>
            <ion-card-subtitle>Umbrella</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="umbrella" src="../../../assets/icon/umbrella.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>V</ion-card-title>
            <ion-card-subtitle>V</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="umbrella" src="../../../assets/icon/umbrella.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>W</ion-card-title>
            <ion-card-subtitle>W</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="umbrella" src="../../../assets/icon/umbrella.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>X</ion-card-title>
            <ion-card-subtitle>X</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="umbrella" src="../../../assets/icon/umbrella.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Y</ion-card-title>
            <ion-card-subtitle>Y</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="umbrella" src="../../../assets/icon/umbrella.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Z</ion-card-title>
            <ion-card-subtitle>Zebra</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <img alt="zebra" src="../../../assets/icon/zebra.jpg" height="100px" width="100px">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
