<ion-header>
  <ion-toolbar>
    <ion-title>
      Alphabets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>A</ion-card-title>
            <ion-card-subtitle>A</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>B</ion-card-title>
            <ion-card-subtitle>B</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>C</ion-card-title>
            <ion-card-subtitle>C</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>D</ion-card-title>
            <ion-card-subtitle>D</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>E</ion-card-title>
            <ion-card-subtitle>E</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>F</ion-card-title>
            <ion-card-subtitle>F</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>G</ion-card-title>
            <ion-card-subtitle>G</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>H</ion-card-title>
            <ion-card-subtitle>H</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>I</ion-card-title>
            <ion-card-subtitle>I</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>J</ion-card-title>
            <ion-card-subtitle>J</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>K</ion-card-title>
            <ion-card-subtitle>K</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>L</ion-card-title>
            <ion-card-subtitle>L</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>M</ion-card-title>
            <ion-card-subtitle>M</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>N</ion-card-title>
            <ion-card-subtitle>N</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>O</ion-card-title>
            <ion-card-subtitle>O</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>P</ion-card-title>
            <ion-card-subtitle>P</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Q</ion-card-title>
            <ion-card-subtitle>Q</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>R</ion-card-title>
            <ion-card-subtitle>R</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>S</ion-card-title>
            <ion-card-subtitle>S</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>T</ion-card-title>
            <ion-card-subtitle>T</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>U</ion-card-title>
            <ion-card-subtitle>U</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>V</ion-card-title>
            <ion-card-subtitle>V</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>W</ion-card-title>
            <ion-card-subtitle>W</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>X</ion-card-title>
            <ion-card-subtitle>X</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Y</ion-card-title>
            <ion-card-subtitle>Y</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Z</ion-card-title>
            <ion-card-subtitle>Z</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
